
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
         <h3 margin-left = "10px"><i class="fa fa-plus fa-fw fa-1x"></i>New Build</h3>
      </div>
    </div>
  </nav>

  <div id="appInfo">
      <img src="<%=app.picture%>" class="img-rounded" height = "100px" weight = "100px" alt="App Icon">
      <h3><%= app.name %> </h3>
      <h5><%= app.bundleid %></h5>
  </div>


  <form enctype="multipart/form-data" class="form-newapp" action="/app/createbuild" method="POST" >

    <!-- Put Server returned error flashes here -->
    <% if(flash && flash.err) { %>
        <ul class="alert alert-success">
      <% Object.keys(flash.err).forEach(function(error) { %>
        <li><%- JSON.stringify(flash.err[error]) %></li>
      <% }) %>
      </ul>
      <% } %>


    <div class="row">
      <div class="form-group  col-sm-5">
              	<label  class="control-label" for="appBuild">App Build (.ipa file)</label>
              	<input type="file" class="form-control" id="appbuild" placeholder="Choose File" name="url" accept=".ipa">
                <input type="hidden" name="owner" value=<%= app.id%> >
      </div>
    </div>

    <div class="row">
        	<div class="form-group  col-sm-5">
            	<label  class="control-label" for="versionNo">Version No.</label>
            	<input type="text" class="form-control" id="versionNo" value="1.1" name="version">
        	</div>
    </div>

    <div class="row">
        	<div class="form-group  col-sm-5">
            	<label class="control-label" for="appDetail">Version Notes</label>
            	<textarea class="form-control" rows="10" value = "random text" id="detail" name="appdetail"></textarea>
        	</div>
    </div>

    <div class="row">
       		<div class="form-group col-sm-5">
        		<button type="submit" value = "submit" class="btn btn-primary">Add New Build</button>
        	</div>
    </div>
  </form>


